<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="explore-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a98decad2.js" crossorigin="anonymous"></script>
    <title>Explore - CapeYorkConnected</title>
</head>

<body>
    <div class="navContainer">
        <nav>
            <a href="/"><img class="logo" src="./assets/CYC Logo.png"></a>
            <a href="./main-feed"><i class="fa-solid fa-house"></i></a>
            <a href="./explore-page"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="./support"><i class="fa-solid fa-message"></i></a>
            <a href=""><i class="fa-solid fa-bell"></i></a>
            <a href="./explore-page"><img class="profileNav" src="./assets/young-man.jpg"></a>
        </nav>
    </div>
    <div class="mainContainer">
        <div class="column">
            <div class="myProfile">
                <h3>My Profile</h3>
                <img class="profilePic" src="./assets/young-man.jpg">
                <hr>
                <div class="personalInfo">
                    <p><i class="fa-solid fa-briefcase"></i>Delivery driver</p>
                    <p><i class="fa-solid fa-house"></i>Weipa, Cape York</p>
                    <p><i class="fa-solid fa-cake-candles"></i>October 12</p>
                </div>
            </div>
            <div class="card">
                <h3>Interests</h3>
                <ul>
                    <a href="./explore-page">
                        <li>#football</li>
                    </a>
                    <a href="./explore-page">
                        <li>#tameimpala</li>
                    </a>
                    <a href="./explore-page">
                        <li>#tennis</li>
                    </a>
                    <a href="./explore-page">
                        <li>#community</li>
                    </a>
                    <a href="./explore-page">
                        <li>#queensland</li>
                    </a>
                    <a href="./explore-page">
                        <li>#wuthathi</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="column2">
            <div class="columnHeader">
                <h2>What's going on near you?</h2>
                <a href="./explore-page"><i class="fa-solid fa-square-plus"></i></a>
                <a href="./explore-page"><i class="fa-solid fa-location-dot"></i></a>
            </div>
            <div class="image-grid">
                <a href="./explore-page"><img class="image" src="./assets/daniel-funes-fuentes-TyLw3IQALMs-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/federico-garcia-MQxP65uEfJE-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/brett-jordan-PFMz8RkPn8E-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/helena-lopes-PGnqT0rXWLs-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/connor-misset-2ev8767MaOw-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/monika-grabkowska-pCxJvSeSB5A-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/nicole-herrero-rWWLpxSefp8-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/omar-lopez-1qfy-jDc_jo-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/henry-co-30RYDogaobs-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/seb-mooze-fsEohb8sscM-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/fred-moon-0yqa0rMCsYk-unsplash.jpg"></a>
                <a href="./explore-page"><img class="image" src="./assets/henry-co-3coKbdfnAFg-unsplash.jpg"></a>
            </div>
        </div>
    </div>
</body>
</html>