<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CapeYorkConnected</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href = "home.css">
        <link rel="icon" 
        type="image/png" 
        href="assets/UEA Icon.png">
        <script src="showDropdownContents.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="navigation">        
                <div class="left-side">
                    <div class="navigation-link active-navigation-link">
                        <a href="/">Home</a>
                    </div>

                    <div class="navigation-link">
                        <a href="/main-feed">Main Feed</a>
                    </div>
                </div>

                <div class="page-name">
                    <h1>CapeYorkConnected</h1>
                </div>                 
            
                <div class="right-side">
                    <div class="brand">
                        <div class = company-logo> <img src="assets/CYC Logo.png" alt="CapeYorkConnected"> </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class = queensland-house> <img src="assets//Queensland House.png" alt="House in Queensland, AU."> </div>
            
                <div class="item-foreground">
                    <div class="item-subtitle">
                        <h1>Bringing Communities Together</h1>
                    </div>

                    <h2>Stay Connected, Get Started Today!</h2>
                </div>
                
            </div>

            <div class="launch">
                <div class="box">
                    <img class="assorted-tools"src="assets/community.jpg" alt="An Assortment of Tools.">
                    <div class="img-title">
                        <h2>Find FAQ and Guidance</h2>
                    </div>

                    <div class="nav-box">
                        <a href="./support" style="text-decoration: none;">
                            <div class="btn-text">
                                <h2>Support</h2>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="box">
                    <img class="assorted-tools"src="assets/Assorted Tools.jpg" alt="An Assortment of Tools.">
                    <div class="img-title">
                        <h2>Explore</h2>
                    </div>

                    <div class="nav-box">
                        <a href="./main-feed" style="text-decoration: none;">
                            <div class="btn-text">
                                <h2>Explore Available Jobs</h2>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="box">
                    <img class="assorted-tools"src="assets/main-feed.png" alt="An Assortment of Tools.">
                    <div class="img-title">
                        <h2>Access Your Feed</h2>
                    </div>
                    
                    <div class="nav-box">
                        <a href="./main-feed" style="text-decoration: none;">
                            <div class="btn-text">
                                <h2>Go to my Feed</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="reviews">
                <div class="card">
                    <div class="review-box">
                        <div class="card-body">
                            <h2 class="card-title">A wonderful system</h2>
                            <h3 class="card-subtitle mb-2 text-muted">⭐⭐⭐⭐⭐</h3>
                            <p class="card-text">   
                                This new system is so much easier! Before, I had to wait for months to get my problems sorted. 
                                Now, I can alert people about it who can help me.
                            </p>
                            <a href="#" class="card-link">Jane L</a>
                            <a href="#" class="card-link">14/06/2022</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Nice and intuitive</h2>
                        <h3 class="card-subtitle">⭐⭐⭐⭐⭐</h3>
                        <p class="card-text">   
                            I would highly recommend this website! It is so easy to use, and you can pay incredibly easy. 
                            The interface is user friendly and easy to navigate through!
                        </p>
                        <a href="#" class="card-link">Chris D</a>
                        <a href="#" class="card-link">11/01/2022</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Excellent customer service!</h2>
                        <h3 class="card-subtitle">⭐⭐⭐⭐⭐</h3>
                        <p class="card-text">   
                            Amazing service! I found that the support page was really helpful in solving my queries.
                            Best customer support!
                        </p>
                        <a href="#" class="card-link">John R</a>
                        <a href="#" class="card-link">21/05/2022</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">A handy solution</h2>
                        <h3 class="card-subtitle">⭐⭐⭐⭐⭐</h3>
                        <p class="card-text">   
                            Would highly recommend trying! Allowed me to feel more connected to my local community.
                        </p>
                        <a href="#" class="card-link">Sarah M</a>
                        <a href="#" class="card-link">25/12/2021</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Good customer experience</h2>
                        <h3 class="card-subtitle">⭐⭐⭐⭐⭐</h3>
                        <p class="card-text">   
                            Customer support is great, they respond real-time and resolve problems quickly. 
                            I didn't have to wait long at all. 10/10 Service!
                        </p>
                        <a href="#" class="card-link">Mark P</a>
                        <a href="#" class="card-link">02/06/2022</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

    <footer>

    </footer>
</html>