<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main-feed-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a98decad2.js" crossorigin="anonymous"></script>
    <script src="like-count.js" defer></script>
    <title>Feed - CapeYorkConnected</title>
</head>

<body>

    <form action="logout?_method=DELETE" method="POST">
        <button class="button" type="submit">Logout</button>
    </form>

    <div class="navContainer">
        <nav>
            <a href="./"><img class="logo" src="./assets/CYC Logo.png"></a>
            <a href="./"><i class="fa-solid fa-house"></i></a>
            <a href="./explore-page"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="./support"><i class="fa-solid fa-message"></i></a>
            <a href=""><i class="fa-solid fa-bell"></i></a>
            <a href="./explore-page"><img class="profileNav" src="./assets/young-man.jpg"></a>
        </nav>
    </div>

    <div class="mainContainer">
        <div class="column">
            <div class="myProfile">
                <h3>My Profile</h3>
                <img class="profilePic" src="./assets/young-man.jpg">
                <hr>
                <div class="personalInfo">
                    <p><i class="fa-solid fa-briefcase"></i>Delivery driver</p>
                    <p><i class="fa-solid fa-house"></i>Weipa, Cape York</p>
                    <p><i class="fa-solid fa-cake-candles"></i>October 12</p>
                </div>
            </div>
            <div class="card">
                <h3>Interests</h3>
                <ul>
                    <a href="./explore-page">
                        <li>#football</li>
                    </a>
                    <a href="./explore-page">
                        <li>#tameimpala</li>
                    </a>
                    <a href="./explore-page">
                        <li>#tennis</li>
                    </a>
                    <a href="./explore-page">
                        <li>#community</li>
                    </a>
                    <a href="./explore-page">
                        <li>#queensland</li>
                    </a>
                    <a href="./explore-page">
                        <li>#wuthathi</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="column2">
            <div class="columnHeader">
                <h2>Good morning, <%= name %>
                </h2>
            </div>
            <div class="feed">
                <div class="newPost">
                    <input type="text" placeholder="Update your status...">

                </div>
                <div class="feedCard">
                    <div class="feedHeader">
                        <img class="userPic" src="./assets/brett-jordan-PFMz8RkPn8E-unsplash.jpg">
                        <p>Leanne Jones</p>
                    </div>
                    <p class="feedContent">Does anyone have a wheelbarrow I can borrow? My garden is being renovated and
                        I will need it to move the dug out earth. Thanks in advance!</p>
                    <div class="feedMid">
                        <div class="socialBtn">
                            <i onclick="count()" class="fa-solid fa-thumbs-up"></i>
                            <input id="likeCount" type="number" value="15">
                        </div>
                        <div class="socialBtn">
                            <p class="feedContent">3 comments</p>
                        </div>
                    </div>
                    <hr>
                    <div class="feedFooter">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Like</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-comment"></i>
                            <p>Comment</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-share"></i>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
                <div class="feedImgCard">
                    <div class="feedHeader">
                        <img class="userPic" src="./assets/brett-jordan-PFMz8RkPn8E-unsplash.jpg">
                        <p>David Jackson</p>
                    </div>
                    <p class="feedContent">URGENT! property maintenance services needed to assist with major
                        reconstruction of property in the Wuthathi area. Plasterers, electricians, plumbers, decorators
                        etc. Please message me for more info, or give me a call on 0061298765432</p>
                    <img class="feedImg" src="./assets/lujia-zhang-qye8p4clpo0-unsplash.jpg">
                    <div class="feedMid">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p class="feedContent">15</p>
                        </div>
                        <div class="socialBtn">
                            <p class="feedContent">1 comment</p>
                        </div>
                    </div>
                    <hr>
                    <div class="feedFooter">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Like</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-comment"></i>
                            <p>Comment</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-share"></i>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
                <div class="feedCard">
                    <div class="feedHeader">
                        <img class="userPic" src="./assets/brett-jordan-PFMz8RkPn8E-unsplash.jpg">
                        <p>Isabella Skeats</p>
                    </div>
                    <p class="feedContent">Just a reminder to everyone that the bake sale at Cairns West State School
                        will be happening at 10am tomorrow!</p>
                    <div class="feedMid">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p class="feedContent">101</p>
                        </div>
                        <div class="socialBtn">
                            <p class="feedContent">15 comments</p>
                        </div>
                    </div>
                    <hr>
                    <div class="feedFooter">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Like</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-comment"></i>
                            <p>Comment</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-share"></i>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
                <div class="feedCard">
                    <div class="feedHeader">
                        <img class="userPic" src="./assets/brett-jordan-PFMz8RkPn8E-unsplash.jpg">
                        <p>George Walters</p>
                    </div>
                    <p class="feedContent">Does anyone want some free fiction books? A mixture of ages and genres. My
                        family and I have finished reading them! Happy to post them for free.</p>
                    <div class="feedMid">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p class="feedContent">14</p>
                        </div>
                        <div class="socialBtn">
                            <p class="feedContent">7 comments</p>
                        </div>
                    </div>
                    <hr>
                    <div class="feedFooter">
                        <div class="socialBtn">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>Like</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-comment"></i>
                            <p>Comment</p>
                        </div>
                        <div class="socialBtn">
                            <i class="fa-solid fa-share"></i>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="myProfile">
                <h3>Suggested accounts</h3>
                <div class="personalInfo">
                    <p>Samantha Jones</p>
                    <p>Jonathan Grano</p>
                    <p>Amber Fielder</p>
                    <p>Oscar Lutwyche</p>
                    <p>Owen Tomkinson</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>