/* Master Styles */
body
{
    font-family: "Jost", sans-serif;
    margin: 0px;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: whitesmoke;
    
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Styles */
.page-name
{
    position: relative;
    bottom: 60px;
    margin-bottom: -110px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white
}

.navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    height: 6rem;
    background-color: #1c658c;
}

.brand
{
    padding-top: 2em;
}

.left-side
{
    display: flex;
}

.navigation > .left-side > div
{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navigation-link
{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a
{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navigation-link:hover
{
    border-bottom: 1px solid lightblue;
}

.navigation-link a:hover
{
    color: lightblue;
}

.active-navigation-link
{
    border-bottom: 1px solid lightblue;
}

.active-navigation-link a
{
    color: lightblue!important;
}

.company-logo img
{
    width: 100%;
    height: 80px;
    position: relative;
    top: -45px;
}

.company-logo
{
    width: 100%;
    height: 25px;
}

/* Content Styles */

.queensland-house img
{
    height: 384px;
    width: 1920px;
    object-fit: cover;
    filter: brightness(65%);
}

.item-foreground
{
    position: absolute;
    top: -175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.item-foreground > h2
{
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.item-subtitle
{
    position: relative;
    top: 0.5em;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.launch
{
    padding-top: 1em;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5em;
    grid-auto-flow: column;
}

.box
{
    width: 384px;
    height: 384px;
    border: 2px solid rgba(119, 136, 153, 0.247);
    background-color: whitesmoke;
}

.assorted-tools
{
    height: 192px;
    width: 384px;
    object-fit: cover;
}

.img-title
{
    padding-left: 1em;
    color: #1c658c;
}

.nav-box
{
    margin-left: 1.25em;
    margin-top: 24px;
    width: 340px;
    height: 48px;
    border: 2px solid rgba(128, 128, 128, 0.253);
    background-image: linear-gradient(to bottom right, lightblue, white);
}

.btn-text
{
    height: 48px;
    top: -24px;
    color: #1c658c;
    text-align: center;
}

.card-body
{
    margin: 10px;
    width: 350px;
    height: 256px;
    border: 2px solid rgba(119, 136, 153, 0.247);
    background-image: linear-gradient(to bottom right, lightblue, rgba(255, 255, 255, 0.25));
}

.card
{
    width: 350px;
    margin-bottom: 0.05em;
}

.reviews
{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: "Nunito", sans-serif;
}

/* Media Queries */

@media only screen and (min-width: 2500px) 
{
    .queensland-house img 
    {
        height: 384px;
        width: 2560px;
        object-fit: cover;
        filter: brightness(65%);
    }

    .item-foreground 
    {
        position: absolute;
        top: -400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }
}